{% extends 'base.html' %} {% block content %}
{% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Add your Info!</h1>
{% endif %}
<p>Before you head into the community, place your info so new connections know where to find you!</p>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br />
    <input type="submit" value="Dive In!" class="btn" />
</form>
<br />
{% if object %}
<form
      action="{% url 'add_photo' person.id %}"
      class="card-panel"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <input type="file" name="photo-file" />
      <br />
      <br />
      <input type="submit" class="btn" value="Upload Photo" />
    </form>
    {% endif %}
{% endblock %}