{% extends 'base.html' %} {% block content %}

<h1>The COMM(W/R)unity</h1>
{% for person in people %}
<div class="card">
    <a href="{% url 'detail' person.id %}">
        <div class="card-content">
            <span class="card-title">{{ person.user }}</span>
            {% if user.is_authenticated and user == person.user %}
            <h4>(This is you!)</h4>
            <span class="card-title">{{ person.name }}</span>
            {% endif %}
        </div>
    </a>
</div>
{% endfor %} {% endblock %}